.m1-tabbar{
  overflow: hidden;
}

.m1-tabbar-button{
  overflow: hidden;
}

.m1-tabbar-button-label{
  text-align: center;
}

.m1-multipanel{
  overflow: hidden;
}

.m1-root{
  -webkit-user-select: none;
  left: 0px;
  position: absolute;
  top: 0px;
}

.m1-top-root{
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.m1-homescreen-prompt{
  -webkit-box-sizing: content-box;
  display: block;
  font-size: 16px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 450px;
  z-index: 99;
}

.m1-loading-spinner{
  float: left;
  padding: 3px 3px 3px 3px;
}

.m1-loading-text{
  display: block;
  float: left;
  max-width: 250px;
  min-height: 15px;
  padding: 10px 0px 10px 5px;
  text-align: left;
}

.m1-loading{
  display: none;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  top: 150px;
  vertical-align: middle;
  width: 100%;
  z-index: 99;
}

.m1-button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  color: white;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.m1-iscroll-wrapper{
  overflow: hidden;
}

.m1-root .m1-aux-hidden-div{
  display: block;
  height: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 0px;
}


  .m1-root .m1-combobox,.m1-root .m1-toolbar,.m1-root .m1-iscroll-wrapper,.m1-root .m1-map-container,.m1-root .m1-loading-text,.m1-root .m1-toggle,.m1-root .m1-button,.m1-root .m1-hyperlink,.m1-root .m1-custom-html,.m1-root .m1-video,.m1-root .m1-multipanel,.m1-root .m1-iscroll-scroller,.m1-root .m1-element,.m1-root .m1-text,.m1-root .m1-tabbar-button,.m1-root .m1-audio,.m1-root .m1-radiobutton,.m1-root .m1-loading,.m1-root .m1-multipanel-page,.m1-root .m1-tabbar,.m1-root .m1-placeholder,.m1-root .m1-hyperlink-container,.m1-root .m1-select-list-menu,.m1-root .m1-image,.m1-root .m1-homescreen-prompt,.m1-root .m1-list,.m1-root .m1-list-footer,.m1-root .m1-play-button,.m1-root .m1-video-container,.m1-root .m1-loading-spinner,.m1-root .m1-textfield,.m1-root .m1-list-header,.m1-root .m1-textarea,.m1-root .m1-video-poster-shadow,.m1-root .m1-toolbar-icon,.m1-root .m1-checkbox,.m1-root .m1-video-poster,.m1-root .m1-tabbar-button-label,.m1-root .m1-selection-list,.m1-root .m1-hyperlink-internal,.m1-root .m1-toggle5,.m1-root .m1-navbar,.m1-root .m1-list > li,.m1-root .m1-list > li > div,.m1-root .m1-list > li > img,.m1-root .m1-list > li > label,.m1-root .m1-list > li > div > img,.m1-root .m1-toggle > div,.m1-root .m1-toggle5 > div,.m1-root .m1-button > span
  {
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: block;
  float: none;
  position: relative;
  white-space: nowrap;
}

.m1-root .m1-custom-html{
  line-height: normal;
  overflow: hidden;
  white-space: normal;
}

.m1-root .m1-multipanel-page{
  display: none;
  position: absolute;
}

.m1-root .m1-selected.m1-multipanel-page{
  display: block;
}

.m1-root :focus{
  outline: none;
}

.m1-root textarea.m1-textarea{
  white-space: normal;
}

.m1-root textarea.m1-textarea.m1-placeholder{
  color: rgb(153,153,153);
}

.m1-homescreen-prompt img{
  display: block;
  float: left;
  margin: auto 20px 20px auto;
}

.m1-loading > div{
  -webkit-border-radius: 8px;
  -webkit-box-sizing: border-box;
  background: rgba(0,0,0,.7);
  color: rgba(255,255,255,.8);
  display: table;
  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;
  text-align: left;
  width: auto;
}

.m1-background-1{
  background-color: rgb(228,206,151);
  background-image: none;
}

.m1-background-2{
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0%, 50.0% 100.0%, from(rgb(185,185,185)), to(rgb(128,128,128)), color-stop(0.499,rgb(150,150,150)), color-stop(0.501,rgb(144,144,144)));
}

.m1-selected.m1-background-3{
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0%, 50.0% 100.0%, from(rgb(249,249,249)), to(rgb(192,192,192)), color-stop(0.499,rgb(214,214,214)), color-stop(0.501,rgb(208,208,208)));
}

.m1-selected.m1-border-1{
  -webkit-border-radius: 3px;
}

.m1-font-1{
  color: rgb(156,154,156);
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

.m1-selected.m1-font-2{
  color: rgb(255,255,255);
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

.m1-font-3{
  color: rgb(0,0,0);
  font-family: Verdana;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.m1-shadow-1{
  text-shadow: rgb(128,128,128) 0px 1px 1px;
}

.m1-font-4{
  color: rgb(0,0,0);
  font-family: Helvetica;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}

.m1-font-5{
  color: rgb(0,0,0);
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.m1-border-2{
  -webkit-border-radius: 0px;
}

.m1-button.m1-font-6{
  color: rgb(228,206,151);
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.m1-clicked.m1-button.m1-background-5{
  background-color: rgb(196,18,47);
  background-image: none;
}

.m1-clicked.m1-button.m1-active-color-1{
  color: rgb(228,206,151);
}

.m1-background-6{
  background-color: rgb(226,0,122);
  background-image: none;
}

.m1-background-7{
  background-color: rgb(179,126,40);
  background-image: none;
}

.m1-background-4,.m1-clicked.m1-button.m1-background-8{
  background-color: rgb(126,139,40);
  background-image: none;
}

.m1-border-3{
  -webkit-border-radius: 0px;
}

.m1-background-9{
  background-color: rgba(0,0,0,0);
  background-image: none;
}

.m1-button.m1-font-7{
  color: rgb(0,178,203);
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.m1-background-10{
  background-color: rgb(0,62,134);
  background-image: none;
}

.m1-clicked.m1-button.m1-background-11{
  background-color: rgb(0,178,203);
  background-image: none;
}

.m1-clicked.m1-button.m1-active-color-2{
  color: rgb(0,62,134);
}

.m1-font-8{
  color: rgb(179,126,40);
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

body{
  margin: 0px 0px 0px 0px;
  overflow: visible;
}

#m1-AHWR-text3{
  height: 32px;
  left: 8px;
  line-height: 32px;
  text-align: center;
  top: -235px;
  width: 150px;
}

#m1-AHWR-html1{
  height: 50px;
  left: 150px;
  top: -194px;
  width: 600px;
}

#m1-AHWR-mute{
  -webkit-border-radius: 0px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 768px;
  line-height: 50px;
  text-align: center;
  top: -144px;
  width: 256px;
}

#m1-AHWR-h_TFSB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 75px;
  width: 500px;
}

#m1-AHWR-h_IFTM{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 50px;
  width: 500px;
}

#m1-AHWR-h_FPB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 25px;
  width: 500px;
}

#m1-AHWR-h_MC{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 0px;
  width: 500px;
}

#m1-AHWR-p_home-box{
  height: 520px;
  left: 0px;
  line-height: 520px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AHWR-p_home{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AHWR-v_FHO{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 19px;
  width: 500px;
}

#m1-AHWR-v_MC{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 0px;
  width: 500px;
}

#m1-AHWR-p_anim-box{
  height: 520px;
  left: 0px;
  line-height: 520px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AHWR-p_anim{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AHWR-m_FHO{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 33px;
  line-height: 50px;
  text-align: center;
  top: 132px;
  width: 500px;
}

#m1-AHWR-m_SF{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 100px;
  width: 500px;
}

#m1-AHWR-m_SSF{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 75px;
  width: 500px;
}

#m1-AHWR-m_CAL{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 50px;
  width: 500px;
}

#m1-AHWR-m_TNF{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 25px;
  width: 500px;
}

#m1-AHWR-m_NF{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 0px;
  width: 500px;
}

#m1-AHWR-p_move-box{
  height: 520px;
  left: 0px;
  line-height: 520px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AHWR-p_move{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AHWR-a_pool{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 275px;
  width: 500px;
}

#m1-AHWR-a_wash{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 250px;
  width: 500px;
}

#m1-AHWR-a_ST{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 225px;
  width: 500px;
}

#m1-AHWR-a_DT{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 200px;
  width: 500px;
}

#m1-AHWR-a_SFSB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 175px;
  width: 500px;
}

#m1-AHWR-a_IB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 150px;
  width: 500px;
}

#m1-AHWR-a_NFSB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 125px;
  width: 500px;
}

#m1-AHWR-a_FTB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 100px;
  width: 500px;
}

#m1-AHWR-a_CLUB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 75px;
  width: 500px;
}

#m1-AHWR-a_TFSB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 50px;
  width: 500px;
}

#m1-AHWR-a_RB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 25px;
  width: 500px;
}

#m1-AHWR-a_All{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 25px;
  line-height: 50px;
  text-align: center;
  top: 0px;
  width: 500px;
}

#m1-AHWR-p_area-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 880px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AHWR-p_area-box{
  height: 520px;
  left: 0px;
  line-height: 520px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AHWR-p_area{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AHWR-m_Manual{
  height: 520px;
  left: 420px;
  line-height: 520px;
  top: -325px;
  width: 550px;
}

#m1-AHWR-lang{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 174px;
  width: 350px;
}

#m1-AHWR-p_stop{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 150px;
  width: 350px;
}

#m1-AHWR-ohlight{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 125px;
  width: 350px;
}

#m1-AHWR-home{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 100px;
  width: 350px;
}

#m1-AHWR-area{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -75px;
  width: 350px;
}

#m1-AHWR-move{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 50px;
  width: 350px;
}

#m1-AHWR-anim{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 175px;
  width: 350px;
}

#m1-AHWR-ManualOperations-box{
  height: 548px;
  left: 0px;
  line-height: 548px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-AHWR-ManualOperations{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-AHWR-m_Main{
  height: 548px;
  left: 0px;
  line-height: 548px;
  top: -144px;
  width: 1024px;
}

#m1-AHWR-image1{
  height: 150px;
  left: 0px;
  line-height: 150px;
  top: -144px;
  width: 150px;
}

#m1-AHWR-text2{
  height: 26px;
  left: 140px;
  line-height: 26px;
  text-align: center;
  top: -18px;
  width: 880px;
}

#m1-AHWR-text1{
  height: 34px;
  left: 140px;
  line-height: 34px;
  text-align: center;
  top: -24px;
  width: 880px;
}

#m1-AHWR-TITLE{
  height: 35px;
  left: 140px;
  line-height: 35px;
  text-align: center;
  top: -29px;
  width: 880px;
}

#m1-AHWR-tabBar1-ManualOperations-label{
  height: 12px;
  left: 0px;
  line-height: 12px;
  margin-right: 0px;
  top: -19px;
  width: auto;
}

#m1-AHWR-tabBar1-ManualOperations-img{
  height: 50px;
  left: 334px;
  top: -9px;
  width: 350px;
}

#m1-AHWR-tabBar1-ManualOperations{
  height: 43px;
  left: 3px;
  top: 3px;
  width: 1018px;
}

#m1-AHWR-tabBar1{
  height: 49px;
  left: 0px;
  line-height: 49px;
  top: 544px;
  width: 1024px;
}

